.top-nav .logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.top-nav .logo img {
	max-height: 55px;
	max-width: 55px;
}

.top-nav .logo h1 {
	display: inline-block;
	padding: 4px 8px;
	color: #101010;
	margin-right: 2px;
	line-height: 48px;
	height: 46px;
	vertical-align: middle;
}

.top-nav .menu .navigation .link {
	border: none;
	display: inline-block;
	padding: 8px 8px;
	color: #101010;
	margin-right: 2px;
	line-height: 48px;
	height: 46px;
	vertical-align: middle;
}
